body {
    background-color: lavenderblush;
}

form, p, h1 {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-image: linear-gradient(lavenderblush, lavender, lightcoral);
}

table, td {
    border: 1px solid black;
}

td {
    font-size: large;
}

td:hover {
    background-color: lightcoral;
}

.invisible {
    visibility: hidden;
}